.button-container {
    width: 420px;
    overflow-y: auto;
}

.button-container > input {
    width: 100px;
    height: 100px;
    float: left;
    margin: 1px;
}

#input {
	margin: 15px;
}

#bdot {
	margin-left: 101px;

}